PORT=8000
NODE_ENV=development

ACCESS_TOKEN_SECRET=supersecret_access_key_social_2026
REFRESH_TOKEN_SECRET=supersecret_refresh_key_social_2026

AUTH_SERVICE_URL=http://localhost:8001
USER_SERVICE_URL=http://localhost:8002
POST_SERVICE_URL=http://localhost:8003
