PORT=8001
NODE_ENV=development

ACCESS_TOKEN_SECRET=supersecret_access_key_social_2026
REFRESH_TOKEN_SECRET=supersecret_refresh_key_social_2026

MONGODB_URI=mongodb://root:mongopassword@localhost:27017/social_auth_db?authSource=admin
RABBITMQ_URL=amqp://guest:guest@localhost:5672
